@using GestionCompetidores.Data.EF

@model IEnumerable<GestionCompetidores.Data.EF.Competidor>


<h1>Listar de Competidores</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Nombre Competidor
            </th>
            <th>
                Deporte
            </th>
            <th>Accion/th>
        </tr>
    </thead>
    <tbody>
        @foreach (Competidor competidor in Model) {
            <tr>
                <td>
                        @competidor.NombreCompetidor
                </td>
                <td>

                        @competidor.IdDeporteNavigation.NombreDeporte

                </td>
                <td>
                    <a href="EditarCompetidor/@competidor.IdCompetidor">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
